.layout {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f5f8;
  display: flex;
  flex-direction: column;
}

.layout__body {
  display: flex;
  flex: 1;
}

.layout__main {
  flex: 1;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}